$font-stack: Helvetica, sans-serif;
$primary-font-color: white;

@mixin centerDisplay() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
  margin: 0 0;
  // border: dashed white;
}

body {
  font: 100% $font-stack;
  color: $primary-font-color;
  background-image: url(../assets/img/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 80%;
  padding-bottom: 40px;
  @include centerDisplay();
}

.mainContainer {
  @include centerDisplay();
}

p {
  font-size: 16px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  list-style: none;
  width: 100%;
}

.activeLink {
  color: grey;
}

.logoCountdownContainer {
  width: 60%;
  @include centerDisplay();
  margin-top: 50%;
  img {
    width: 100%;
    max-width: 300px;
    padding-bottom: 10%;
    @include centerDisplay();
  }
}

.blogPost {
  @include centerDisplay();
  margin-top: 30px;
  padding: 20px;
  width: 90%;
  position: relative;
  background-color:rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  img {
    width: 100%;
  }
  .blogpiece {
    padding-bottom: 10px;
  }
  z-index: 1;
}

.poweredFooter {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  img {
    width: 60px;
  }
  z-index: 0;
}
