$font-stack: Helvetica, sans-serif;
$primary-font-color: white;
$header-font: 'Roboto Slab', serif;
$body-font: 'Arimo', sans-serif;

@mixin centerDisplay() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
  margin: 0 0;
  font-family: $body-font;
  letter-spacing: .5px;
  // border: dashed white;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: $header-font;
  letter-spacing: 1.5px;
}

// https://stackoverflow.com/questions/51801338/webpack-html-loader-not-resolving-srcset-images

body {
  font: 100% $font-stack;
  color: $primary-font-color;
  background-image: url(../assets/img/background2-600.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  @media (min-width: 30em) {
    background-image: url(../assets/img/background2-1800.jpg);
  }
  @media (min-width: 40em) {
    background-image: url(../assets/img/background2-2800.jpg);
  }
  @media (min-width: 60em) {
    background-image: url(../assets/img/background2.jpg);
  }

  width: 80%;
  padding-bottom: 5px;
  @include centerDisplay();
}

img {
  flex-shrink: 0;
}

p {
  font-size: 16px;
}

.mainContainer {
  @include centerDisplay();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1240px;
}

#index-main {
    height: 100%;
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  list-style: none;
  width: 100%;
  align-items: center;
  a {
    text-decoration: none;
    color: $primary-font-color;
  }
  h5 {
    @media screen and (min-width: 835px) {
      font-size: 1.5em;
    }
  }
  img {
    width: 45px;
  }
}

.activeLink {
  color: grey;
}

.logoCountdownContainer {
  width: 60%;
  min-width: 209px;
  box-sizing: border-box;
  height: 60%;
  @include centerDisplay();
  display: flex;
  flex-direction: column;
  .centerGraphics {
    width: 100%;
    max-width: 300px;
    max-height: 20%;
    padding-bottom: 10px;
    @include centerDisplay();
  }
  .gameCountdown {
    @include centerDisplay();
  }
}

.blogPost {
  @include centerDisplay();
  margin-top: 30px;
  padding: 20px;
  width: 90%;
  background-color:rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
  .blogpiece {
    padding-bottom: 10px;
  }
  @media screen and (min-width: 835px) {
    h3 {
      font-size: 1.8em;
    }
    h5 {
      font-size: 1.2em;
    }
  }
}

.blogInfo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  .image-box {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-right: 17px;
    img {
      width: 100%;
      max-width: 600px;
      align-self: flex-start;
      margin-bottom: 18px;
      @media screen and (min-width: 750px) {
        min-width: 500px;
        margin-bottom: 0;
      }
    }
  }
  @media screen and (min-width: 750px) {
    flex-direction: row;
  }
}

.blog-content {
  width: 100%;
  @media screen and (min-width: 750px) {
    width: 50%;
    max-width: 600px;
    margin: 0px 18px;
  }
}

.companyContainer {
  display: grid;
  img {
    max-width: 250px;
    border-radius: 50%;
    background-color: none;
    @include centerDisplay();
    @media screen and (min-width: 600px) {
      max-width: 100%;
    }
  }
  background-color: none;
  .blogpiece {
    @include centerDisplay();
  }
  grid-template: repeat(5, 300px auto) / 100%;
  grid-gap: 5px;

  @media screen and (min-width: 600px) {
    grid-template: repeat(5, auto) / 40% 60%;
    grid-gap: 25px;
    // align-items: center;
  }
  @media screen and (min-width: 900px) {
    img {
      border-radius: 0%;
    }
    grid-template: repeat(5, auto) / 30% 70%;
    // align-items: center;
  }
}

.bio {
  max-width: 300px;
  margin-bottom: 30px;
  h3, h5 {
    margin-bottom: 10px;
  }
  .indivBio {
    margin-right: 20px;
  }
  @media screen and (min-width: 600px) {
    max-width: 100%;
  }
}

.poweredFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  img {
    width: 60px;
    margin-left: 10px;
  }
  z-index: 0;
}
